Meta
#doc
*.Rproj
*.Rapp*
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rapp.history
#inst/doc
#vignettes/
/.Rd2pdf*
#NAMESPACE
doc
.Rprofile
tmp.R
/doc/
/Meta/
/prep_code
..Rcheck/00check.log
vignettes/batch_evaluation_metrics_cache/html/__packages
vignettes/batch_evaluation_metrics_cache/html/corr-embeddings_5ec36782e8cd0d35056e8430d056a990.RData
vignettes/batch_evaluation_metrics_cache/html/corr-embeddings_5ec36782e8cd0d35056e8430d056a990.rdb
vignettes/batch_evaluation_metrics_cache/html/corr-embeddings_5ec36782e8cd0d35056e8430d056a990.rdx
vignettes/batch_evaluation_metrics_cache/html/corr-qc-summaries_74ac89d8a97f9dfe23d3d0a13007afdb.RData
vignettes/batch_evaluation_metrics_cache/html/corr-qc-summaries_74ac89d8a97f9dfe23d3d0a13007afdb.rdb
vignettes/batch_evaluation_metrics_cache/html/corr-qc-summaries_74ac89d8a97f9dfe23d3d0a13007afdb.rdx
vignettes/batch_evaluation_metrics_cache/html/corr-variance-partition_b56072111f21230657846d61f2fe7385.RData
vignettes/batch_evaluation_metrics_cache/html/corr-variance-partition_b56072111f21230657846d61f2fe7385.rdb
vignettes/batch_evaluation_metrics_cache/html/corr-variance-partition_b56072111f21230657846d61f2fe7385.rdx
vignettes/batch_evaluation_metrics_cache/html/raw-embeddings_e70b17efbf0d12e48b7d7689db926bf7.RData
vignettes/batch_evaluation_metrics_cache/html/raw-embeddings_e70b17efbf0d12e48b7d7689db926bf7.rdb
vignettes/batch_evaluation_metrics_cache/html/raw-embeddings_e70b17efbf0d12e48b7d7689db926bf7.rdx
vignettes/batch_evaluation_metrics_cache/html/raw-qc-summaries_82fe3cf82fe10d48ccd14a07bef5c200.RData
vignettes/batch_evaluation_metrics_cache/html/raw-qc-summaries_82fe3cf82fe10d48ccd14a07bef5c200.rdb
vignettes/batch_evaluation_metrics_cache/html/raw-qc-summaries_82fe3cf82fe10d48ccd14a07bef5c200.rdx
vignettes/batch_evaluation_metrics_cache/html/raw-variance-partition_12f1b789ca23c60197c287cd7f122205.RData
vignettes/batch_evaluation_metrics_cache/html/raw-variance-partition_12f1b789ca23c60197c287cd7f122205.rdb
vignettes/batch_evaluation_metrics_cache/html/raw-variance-partition_12f1b789ca23c60197c287cd7f122205.rdx
vignettes/batch_evaluation_metrics_files/figure-html/compare-overlays-1.png
vignettes/batch_evaluation_metrics_files/figure-html/compare-overlays-2.png
vignettes/batch_evaluation_metrics_files/figure-html/compare-pca-pvca-1.png
vignettes/batch_evaluation_metrics_files/figure-html/compare-pca-pvca-2.png
vignettes/batch_evaluation_metrics_files/figure-html/compare-summaries-1.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-corr-distributions-1.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-corr-distributions-2.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-corr-distributions-3.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-corr-distributions-4.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-corr-heatmaps-1.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-corr-heatmaps-2.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-corr-heatmaps-3.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-embeddings-1.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-embeddings-2.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-embeddings-3.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-embeddings-4.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-embeddings-5.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-embeddings-6.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-feature-diagnostics-1.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-feature-diagnostics-2.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-feature-diagnostics-3.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-feature-diagnostics-4.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-feature-diagnostics-5.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-heatmap-clustering-1.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-heatmap-clustering-2.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-heatmap-clustering-3.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-missingness-diagnostics-1.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-missingness-diagnostics-2.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-missingness-diagnostics-3.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-pvca-1.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-pvca-2.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-sample-distributions-1.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-sample-distributions-2.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-variance-partition-1.png
vignettes/batch_evaluation_metrics_files/figure-html/corr-variance-partition-2.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-corr-distributions-1.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-corr-distributions-2.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-corr-distributions-3.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-corr-distributions-4.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-corr-heatmaps-1.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-corr-heatmaps-2.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-corr-heatmaps-3.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-embeddings-1.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-embeddings-2.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-embeddings-3.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-embeddings-4.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-embeddings-5.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-embeddings-6.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-feature-diagnostics-1.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-feature-diagnostics-2.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-feature-diagnostics-3.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-feature-diagnostics-4.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-feature-diagnostics-5.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-heatmap-clustering-1.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-heatmap-clustering-2.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-heatmap-clustering-3.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-missingness-diagnostics-1.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-missingness-diagnostics-2.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-missingness-diagnostics-3.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-pvca-1.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-pvca-2.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-sample-distributions-1.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-sample-distributions-2.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-variance-partition-1.png
vignettes/batch_evaluation_metrics_files/figure-html/raw-variance-partition-2.png
