Meta
#doc
*.Rproj
*.Rapp*
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rapp.history
#inst/doc
#vignettes/
/.Rd2pdf*
#NAMESPACE
doc
.Rprofile
tmp.R
/doc/
/Meta/
/prep_code
..Rcheck/00check.log

vignettes/batch_evaluation_metrics_cache/*
vignettes/batch_evaluation_metrics_files/*
.Rbuildignore
Dockerfile
Renviron.bioc
.dockerignore
